.Container {
  font-weight: 400;
  background: var(--oceanslate);
  color: var(--toastedalmond);
  font-size: 17px;
  font-family: Josefin;
}

.CustomList > li::marker {
  content: "> ";
  color: var(--honey);
}

.Headshot {
  border: 3px;
  border-radius: 4%;
  border-style: solid;
  min-height: 200px;
  min-width: 200px;
}

.MyNav {
  font-size: 40px;
  color: var(--toastedalmond);
}

.MyNav #CurrentNav {
  text-decoration: black underline;
  color: white;
}

.MyNav #NavText {
  text-decoration: var(--honey) underline;
  color: unset;
}

.MyNav #NavText:hover {
  text-decoration: var(--toastedalmond) underline;
  color: var(--honey);
}

.ProjectButton_base {
  background: var(--honey);
  border: solid var(--honey) 0.125rem;
}

.ProjectButton_base:hover,
.ProjectButton_base:hover .ProjectButton_info {
  border: solid var(--toastedalmond) 2px;
  background: black;
  color: white;
}

.ProjectButton_info {
  pointer-events: auto;
  border: solid black 2px;
  border-radius: 0.5rem;
  background: var(--toastedalmond);
  color: black;
}

.SkillBoxContainer {
  border-style: solid;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-color: var(--oceanslatelight);
  height: 560px;
  width: 320px;
  scrollbar-width: none;
  border-radius: 2rem;
}

.ProjectContentBox {
  border-style: solid;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-color: var(--oceanslatelight);
  height: auto;
  scrollbar-width: none;
  border-radius: 2rem;
  max-height: 600px;
  overflow-y: auto;
}

.HorizontalProjectListBox {
  border-style: solid;
  border-left-width: 4px;
  border-right-width: 4px;
  border-color: var(--oceanslatelight);
  border-radius: 2rem;
  scrollbar-width: none;
}

@media (max-width: 767px) {
  .MyNav {
    font-size: 2rem;
  }
}
