@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
    font-style: oblique;
    font-size: 36px;
  }
  h3 {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 8px;
  }
}

:root {
  --toastedalmond: #eed5bf;
  --transparentalmond: #ffc0896c;
  --white: white;
  --oceanslate: #243f4c;
  --oceanslatelight: #45738a;
  --honey: rgba(255, 196, 0, 0.87);
}

.MuiListItemButton-root {
  border-bottom: solid;
  border-color: var(--honey);
  border-style: groove;
}
body {
  background-color: var(--oceanslate);
}

button {
  background-color: unset;
  border: 0px;
}
@media (max-width: 767px) {
  .row > hr {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 35px;
  }
}
