@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
    font-style: oblique;
    font-size: 36px;
  }
  h3 {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 8px;
  }
}

@font-face {
  font-family: "Josefin";
  src: url("../../public/fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf");
  src: url("../../public/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
  style: "normal" "italic";
}

@font-face {
  font-family: "Squarepeg";
  src: url("../../public/fonts/Square_Peg/SquarePeg-Regular.ttf");
}

:root {
  --Josefin: Josefin;
  --Squarepeg: Squarepeg;
  --toastedalmond: #eed5bf;
  --transparentalmond: #ffc0896c;
  --white: white;
  --oceanslate: #243f4c;
  --oceanslatelight: #45738a;
  --honey: rgba(255, 196, 0, 0.87);
}

body {
  background-color: var(--oceanslate);
}

button {
  background-color: transparent;
  border: none;
}
.MuiBox-root#MyMuiListBox {
  background-color: var(--toastedalmond);
  color: black;
  border-style: solid;
  border-color: var(--honey);
  border-width: 2px;
  scrollbar-width: none;
  border-radius: 0.5rem;
}

.MuiListItem-root.MuiListItem-divider {
  border-bottom: 5px;
  border-style: groove;
  border-color: var(--honey);
}

.MuiTypography-root.MuiTypography-body1.MuiListItemText-primary {
  font-size: larger;
  font-family: var(--Josefin);
}

.SkillsBoxContainer {
  border-style: solid;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-color: var(--oceanslatelight);
  height: 400px;
  width: 320px;
  scrollbar-width: none;
  border-radius: 2rem;
}

::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100vw;
  margin-block: 0.1em;
}
::-webkit-scrollbar-thumb {
  background: var(--toastedalmond);
  border: solid var(--honey) 2px;
  border-radius: 100vw;
}
