@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
    font-style: oblique;
    font-size: 36px;
  }
  h3 {
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 8px;
  }
}

@font-face {
  font-family: "Josefin";
  src: url("../../public/fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf");
  src: url("../../public/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
  style: "normal" "italic";
}

@font-face {
  font-family: "Squarepeg";
  src: url("../../public/fonts/Square_Peg/SquarePeg-Regular.ttf");
}

:root {
  --Josefin: Josefin;
  --Squarepeg: Squarepeg;
  --toastedalmond: #eed5bf;
  --transparentalmond: #ffc0896c;
  --white: white;
  --oceanslate: #243f4c;
  --oceanslatelight: #45738a;
  --honey: rgba(255, 196, 0, 0.87);
}

body {
  background-color: var(--oceanslate);
}

button {
  background-color: unset;
  border: 0px;
}

.MuiListItemButton-root.MuiListItemButton-divider {
  border-bottom: 5px;
  border-style: groove;
}

.MuiTypography-root.MuiTypography-body1.MuiListItemText-primary {
  font-size: larger;
  font-family: var(--Josefin);
}
