#ContactImage {
  width: 60px;
  height: auto;
}

#CurrentCons {
  margin-left: 20px;
  max-width: 300px;
}

#ImageNavText {
  text-decoration: var(--honey) underline;
  color: var(--toastedalmond);
  font-family: Squarepeg;
  font-size: 100px;
  display: flex;
  align-items: center;
  text-underline-offset: 7px;
}

#ImageNavText:hover {
  text-decoration: var(--toastedalmond) underline;
  color: var(--honey);
}

#MyNavLogo {
  display: flex;
  margin-right: 20px;
  height: 50px;
  width: auto;
}

#UniLink {
  color: var(--white);
  text-decoration: var(--honey) underline;
}

#UniLink:hover {
  text-decoration: var(--toastedalmond) underline;
  color: var(--honey);
}

@media (max-width: 767px) {
  #ImageNavText {
    font-size: 68px;
  }
}

@media (max-width: 639px) {
  #ImageNavText {
    display: none;
  }
  #MyNavLogo {
    margin-top: 29px;
    margin-bottom: 20px;
    margin-left: 20px;
    visibility: visible;
  }
}
