.container {
  font-weight: 400;
  background: var(--oceanslate);
  color: var(--toastedalmond);
  font-size: 17px;
  font-family: Josefin;
}

.mynav {
  font-size: 40px;
  color: var(--toastedalmond);
}

.mynav #currentnav {
  text-decoration: black underline;
  color: white;
}

.mynav #navtext {
  text-decoration: var(--honey) underline;
  color: unset;
}

#mynavlogo {
  display: flex;
  margin-right: 20px;
  height: 50px;
  width: auto;
}

.mynav #navtext:hover {
  text-decoration: var(--toastedalmond) underline;
  color: var(--honey);
}

#imagenavtext {
  text-decoration: var(--honey) underline;
  color: var(--toastedalmond);
  font-family: Squarepeg;
  font-size: 100px;
  display: flex;
  align-items: center;
  text-underline-offset: 7px;
}

#imagenavtext:hover {
  text-decoration: var(--toastedalmond) underline;
  color: var(--honey);
}

.headshot {
  border: 3px;
  border-radius: 4%;
  border-style: solid;
  min-height: 200px;
  min-width: 200px;
}

.card {
  --bs-card-bg: black;
  padding: 0%;
}

.card * .btn-primary {
  --bs-btn-hover-color: black;
  --bs-btn-hover-bg: var(--toastedalmond);
  --bs-btn-hover-border-color: black;
}

#unilink {
  color: var(--white);
  text-decoration: var(--honey) underline;
}

#unilink:hover {
  text-decoration: var(--toastedalmond) underline;
  color: var(--honey);
}

#currentcons {
  margin-left: 20px;
  max-width: 300px;
}

#extendedbio {
  margin-top: 10px;
}

#contact-image {
  width: 60px;
  height: auto;
}

@media (max-width: 767px) {
  #imagenavtext {
    font-size: 68px;
  }
  .mynav {
    font-size: 2rem;
  }
  .border-end {
    --bs-border-color: null;
  }
  .border-start {
    --bs-border-color: null;
  }
}

@media (max-width: 639px) {
  #imagenavtext {
    display: none;
  }
  #mynavlogo {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    visibility: visible;
  }
}
