.Container {
  font-weight: 400;
  background: var(--oceanslate);
  color: var(--toastedalmond);
  font-size: 17px;
  font-family: Josefin;
}

.MyNav {
  font-size: 40px;
  color: var(--toastedalmond);
}

.MyNav #CurrentNav {
  text-decoration: black underline;
  color: white;
}

.MyNav #NavText {
  text-decoration: var(--honey) underline;
  color: unset;
}

#MyNavLogo {
  display: flex;
  margin-right: 20px;
  height: 50px;
  width: auto;
}

.MyNav #NavText:hover {
  text-decoration: var(--toastedalmond) underline;
  color: var(--honey);
}

#ImageNavText {
  text-decoration: var(--honey) underline;
  color: var(--toastedalmond);
  font-family: Squarepeg;
  font-size: 100px;
  display: flex;
  align-items: center;
  text-underline-offset: 7px;
}

#ImageNavText:hover {
  text-decoration: var(--toastedalmond) underline;
  color: var(--honey);
}

.Headshot {
  border: 3px;
  border-radius: 4%;
  border-style: solid;
  min-height: 200px;
  min-width: 200px;
}

.Card {
  --bs-card-bg: black;
  padding: 0%;
}

#UniLink {
  color: var(--white);
  text-decoration: var(--honey) underline;
}

#UniLink:hover {
  text-decoration: var(--toastedalmond) underline;
  color: var(--honey);
}

#CurrentCons {
  margin-left: 20px;
  max-width: 300px;
}

#ContactImage {
  width: 60px;
  height: auto;
}

@media (max-width: 767px) {
  #ImageNavText {
    font-size: 68px;
  }
  .MyNav {
    font-size: 2rem;
  }
}

@media (max-width: 639px) {
  #ImageNavText {
    display: none;
  }
  #MyNavLogo {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    visibility: visible;
  }
}
