@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastedalmond: #eed5bf;
  --transparentalmond: #ffc0896c;
  --white: white;
  --oceanslate: #243f4c;
  --oceanslatelight: #45738a;
  --honey: rgba(255, 196, 0, 0.87);
}

h2 {
  display: inline;
  font-style: oblique;
}

@media (max-width: 767px) {
  hr {
    border: solid;
    border-color: black;
    border-style: solid;
    opacity: 1;
  }
  .row > hr {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 35px;
  }
}

@media (min-width: 768px) {
  hr {
    display: none;
  }
}