:root {
  --toastedalmond: #eed5bf;
  --transparentalmond: #ffc0896c;
  --white: white;
  --oceanslate: #243f4c;
  --oceanslatelight: #45738a;
  --honey: rgba(255, 196, 0, 0.87);
}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--oceanslate);
  color: var(--toastedalmond);
}

code {
  font-family: "Josefin Sans", sans-serif;
}

.NahRedNet {
  font-family: "Square Peg", cursive;
  margin-right: 50px;
  font-size: 50px;
  text-decoration: var(--honey) underline;
  color: unset;
}