:root {
  --toastedalmond: #eed5bf;
  --transparentalmond: #ffc0896c;
  --white: white;
  --oceanslate: #243f4c;
  --oceanslatelight: #45738a;
  --honey: rgba(255, 196, 0, 0.87);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--oceanslate);
  color: var(--honey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}